@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@qpokychuk/gilroy@1.0.2/index.min.css');

@import 'tailwindcss';

@theme {
  --breakpoint-sm: 56rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 90rem;
  --font-nunito: 'Nunito';
  --font-manrope: 'Manrope', sans-serif;
  --font-gilroy: 'Gilroy', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @apply text-black selection:bg-black selection:text-white;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@keyframes bounce-right {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
}

/* Mobile: always animate */
.animate-bounce-right {
  animation: bounce-right 1s ease-in-out infinite;
}
